{% extends "base.html" %}

{% block title %}New Password{% endblock %}

{% block footer %}

<script src="js/hideShowPassword.min.js"></script>
<script src="js/app.js"></script>

<script>


    $(document).ready(function() {
        $('#formPassword').validate({
            rules: {
                password: {
                    required: true,
                    minLength: 8,
                    validPassword: true
                }
            }
        });

        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus',
        });
    });
</script>

{% endblock %}

{% block body %}
<h1> New password </h1>

{% if user.errors is not empty %}
<p>Errors</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error}}</li>
    {% endfor %}
</ul>
{% endif %}


<p>Please enter your information</p>

<form method="post" action="/fyp/public/?admin/Password/reset-password" id="formPassword">
    <input type="hidden" name="token" value="{{ token }}"/>
    <div>
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password" placeholder="password" required />
    </div><br/>

    <button type="submit">Reset Password</button>
</form>
{% endblock %}